    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 16px;
    }
    
    body {
        font-family: sans-serif;
        /* background: darkslategray; */
    }
    
    header {
        position: absolute;
        width: 100%;
        height: 8vh;
        top: 0;
        left: 0;
        background: darkslategrey;
        color: #fff;
        padding: 0 2rem;
    }
    
    nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        max-width: 69px;
    }
    
    .toggle {
        display: none;
    }
    
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 780px;
    }
    
    .menu li a {
        color: #fff;
        text-decoration: none;
    }
    
    .btn {
        border: 0;
        background: goldenrod;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 20px;
    }
    
    .btn.btn-secondary {
        background: transparent;
        border: 2px solid goldenrod;
        color: #fff;
    }
    
    
    .background {
        height: 100vh;
        line-height: 100vh;
        background: url('./images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        z-index: 1;
        display: flexbox;
    }

    h1 {
        z-index: 2;
        height: 5em;
        font-size: large;
        color: white;
        font-size: 6rem;
        text-align: center;
    }

    .arrow {
        position: absolute;
        z-index: 2;
        height: 5em;
        font-size: large;
        color: white;
        font-size: 2rem;
        align-content: center;

    }
    
    @media all and (max-width: 975px) {
    
        .toggle {
            display: block;
            font-size: 2rem;
            cursor: pointer;
            position: relative;
            z-index: 2;
        }
    
        .logo {
            position: relative;
            z-index: 2;
            max-width: 69px;
            
        }
    
        .open {
            display: block;
        }
    
        .close {
            display: none;
        }
    
        .open .open {
            display: none;
        }
    
        .open .close {
            display: block;
        }
    
        .menu {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: darkslategray;
            flex-direction: column;
            padding: 2rem;
            justify-content: space-around;
            transform: translateY(-100%);
            transition: transform 1s;
        }
    
        .menu li a {
            font-size: 2rem;
        }
    
        .btn {
            font-size: 2rem;
        }
    
        .open .menu {
            transform: translateY(0);
        }
    }