    /* css general */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 16px;
    }
    
    body {
        font-family: sans-serif;
        background: darkslategray;
    }
    
    header {
        position: sticky;
        width: 100%;
        height: 5vh;
        top: 0;
        left: 0;
        background: darkslategrey;
        color: #fff;
        padding: 0 2rem;
        z-index: 1;
    }
    footer {
        display: flex;
        width: 100%;
        height: 200px;
        background-color: #37393A;
        margin-top: 5vh;
        justify-content: space-around;
        align-items: center;
        color: white;
    }
    nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    /* menu et banner */
    .logo {
        max-width: 69px;
    }
    
    .toggle {
        display: none;
    }
    
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 780px;
    }
    
    .menu li a {
        color: #fff;
        text-decoration: none;
    }
    
    .btn {
        border: 0;
        background: #916f10;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 20px;
    }
    
    .btn.btn-secondary {
        background: transparent;
        border: 2px solid #916f10;
        color: #fff;
    }
    
    
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 100vh;
        line-height: 100vh;
        background: url('./images/background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        z-index: 0;
    }

    .banner h1 {
        z-index: 0;
        height: 5em;
        color: white;
        font-size: 6rem;
        animation-name: titleEffect;
        -webkit-animation: titleEffect 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	    animation: titleEffect 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    @-webkit-keyframes titleEffect {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px);
                  transform: translateZ(400px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
      @keyframes titleEffect {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px);
                  transform: translateZ(400px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }


    .arrow {
        z-index: 0;
        height: 5em;
        color: white;
        font-size: 2rem;
        position: relative;
        bottom: 200px;
        animation-name: arrowJump;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
    }

    @keyframes arrowJump {
        0% {
            -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
        }
        50% {
            -webkit-transform: translate3d(0px, 10px, 0px);
            transform: translate3d(0px, 10px, 0px);
        }
        100% {
            -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
        }
    }

    /* main content */
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro {
        display: inline;
        flex-direction: column;
        background-color: #916f10;
        width: 15vw;
        height: auto;
        margin-top: 4vh;
        text-align: center;
        text-justify: inter-word;
        color:white;
        border-radius: 0% 0% 10% 0%;
        font-size: 1.3rem;
    }
    .introPart1 {
        margin-top: 1vh;
        margin-bottom: 4vh;
    }
    .introPart2 {
        margin-bottom: 2vh;
    }

    .container .card {
        margin-top: 5vh;
        display: inline-flex;
    }

    .container .pic {
        width: 40vw;
    }

    .container .textCard {
        margin: 2vh;
        text-align: center;
        text-justify: inter-word;
        font-size: 1rem;
        padding: 4vh;
        z-index: 1;
        animation-duration: 2s;
        animation-delay: 0s;
        animation-iteration-count: 1 ;
        animation-fill-mode: forwards;
    }

   
    .container .textCard1 {
        width: 340px;
        background-color: #37393A;
        color: white;
        animation-name: slideLeft;
        
    }
    .container .textCard2 {
        width: 465px;
        background-color: antiquewhite;
        animation-name: slideRight;
        
    }
    .container .textCard3 {
        width: 311px;
        background-color: #C7D3DD;
        animation-name: slideLeft;
        
    }

    @keyframes slideLeft {
        0% {
            -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
        }
        100% {
            -webkit-transform: translate3d(-50px, 0px, 0px);
            transform: translate3d(-50px, 0px, 0px);
        }
    }

    @keyframes slideRight {
        0% {
            -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
        }
        100% {
            -webkit-transform: translate3d(50px, 0px, 0px);
            transform: translate3d(50px, 0px, 0px);
        }
    }

    .outro {
        display: inline;
        flex-direction: column;
        background-color: #916f10;
        width: 25vw;
        height: auto;
        margin-top: 10vh;
        text-align: center;
        text-justify: inter-word;
        color:white;
        border-radius: 0% 0% 10% 0%;
        font-size: 1.3rem;
        }
    
    .fa-brands {
        color: white;
        font-size: 2rem;
    }









    

    /* responsive */

    @media all and (max-width: 975px) {
    
        .toggle {
            display: block;
            font-size: 2rem;
            cursor: pointer;
            position: relative;
            z-index: 2;
        }
    
        .logo {
            position: relative;
            z-index: 2;
            max-width: 69px;
            
        }
        
    
        .open {
            display: block;
        }
    
        .close {
            display: none;
        }
    
        .open .open {
            display: none;
        }
    
        .open .close {
            display: block;
        }
    
        .menu {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: darkslategray;
            flex-direction: column;
            padding: 2rem;
            justify-content: space-around;
            transform: translateY(-100%);
            transition: transform 1s;
        }
    
        .menu li a {
            font-size: 2rem;
        }
    
        .btn {
            font-size: 2rem;
        }
    
        .open .menu {
            transform: translateY(0);
        }
        .intro {
            width: 90vw;
        }
        .container .card {
            display: flex;
            flex-direction: column;
            margin-top: 10vh;
        }
        
        .container .pic {
            width: 90vw;
            padding-left: 4vh;
        }
        
        .container .textCard {
            width: 90vw;
            animation-duration: 0s;
            animation-fill-mode: backwards;

        }
        .outro {
            width: 90vw;
            font-size: 1rem;
            }

        footer {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            padding: 2vh;
            justify-content: space-between;
        }
        .logoFooter {
            position: relative;
            max-width: 69px;
            
        }
        .footerElement {
            margin-top: 15px;
        }
    }